* {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header"
    "section"
    ;
}

.header {
    display: flex;
    grid-area: header;
    justify-content: center;

    background-color: rgb(38, 32, 78);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    color: white;
}

section { 
    display: flex;
    grid-area: section;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    background-color: rgb(53, 47, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.input-adicionar-tarefa {
    width: 750px;
    height: 50px;

    background-color: rgb(23, 18, 54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
}

.button-enviar-tarefa {
    width: 150px;
    height: 50px;

     background-color: white;
     font-size: 20px;
     color: black;
}

.div-adicionar-tarefa {
    width: 900px;
    height: 50px;
    display: flex;
}

.div-lista {
    background-color: rgb(23, 18, 54);
    width: 900px;
    height: 450px;
}