<app-componente-cabecalho [tituloDoPai]="title" (trocarTituloEvent)="trocarTitulo($event)"
  (enviarPesquisaEvent)="enviarPesquisa($event)">
</app-componente-cabecalho>
<app-componente-conteudo></app-componente-conteudo>
<app-meu-primeiro-componente></app-meu-primeiro-componente>
<app-componente-formulario></app-componente-formulario>

<div style="height: fit-content;" *ngIf="clientes.length > 0; else elseBlock">Lista de Clientes</div>

<table style="height: fit-content; width: 300px;" border>
  <tr>
    <th>Nome</th>
  </tr>
  <tr *ngFor="let clientes of clientes">
    <td>{{clientes.nome}}</td>
  </tr>
  <button (click)="adicionarClientes()">Cadastrar Clientes</button>
</table>
<ng-template #elseBlock>
  <div>Não há Clientes!</div>
</ng-template>

<app-componente-form-cliente (adicionarClienteEvent)="receberCliente($event)"></app-componente-form-cliente>
<app-componente-list-cliente [listaClientes]="listaClientes"></app-componente-list-cliente>

<div class="div-rota">
<header>
  <h1>Rotas</h1>
  <ul>
    <li><a routerLink="formulario"></a>Cadastrar Clientes</li>
    <li><a routerLink="listagem"></a>Listagem</li>
  </ul>
</header>
<router-outlet></router-outlet>
</div>
