<section class="grid-container">
  <header class="header"> Gerenciamento de Usuários e Produtos </header>
  <div class="menu">
    <a routerLink="usuario" routerLinkActive="active">Listagem de Usuários</a>
    <a routerLink="usuario/cadastro" routerLinkActive="active">Cadastro de Usuário</a>
    <a routerLink="produto" routerLinkActive="active">Listagem de Produtos</a>
    <a routerLink="produto/cadastro" routerLinkActive="active">Cadastro de Produto</a>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</section>
