.cabecalho {
  height: 20%;
  background-color: tomato;
}

header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
