<table border>
  <tr>
    <th>ID</th>
    <th>Restaurante</th>
    <th>CNPJ</th>
    <th>Estrelas</th>
    <th>Tipo Comida</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let restaurante of restauranteList">
    <td>{{ restaurante.id }}</td>
    <td>{{ restaurante.nome }}</td>
    <td>{{ restaurante.cnpj }}</td>
    <td>{{ restaurante.estrelas }}</td>
    <td>{{ restaurante.tipoComida }}</td>
    <td>
      <button (click)="restauranteEdit(restaurante)">Editar</button>
      <button (click)="deleteRestaurante(restaurante)">Excluir</button>
    </td>
  </tr>
</table>
