* {
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
  "header"
  "content";
}

.header {
  grid-area: header;
  background-color: gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: white;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 30px;
}

.content {
  grid-area: content;
  background-color: white;
}
