* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        'div1 div2 div3'
        'div4 div2 div3'
    ;
}

.container {
    border: 1px solid black;
    padding: 20px;
    margin-top: 30px;
}

.container-meio-pagina {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pagina {
    margin-bottom: 15px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
}

.navigation{
    font-family: monospace;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

 a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.div-1 {
    grid-area: div1;
    background-color: rgb(26, 25, 25);
}

.div-2 {
    grid-area: div2;
    overflow: hidden;
}

.div-3 {
    grid-area: div3;
    background-color: rgb(26, 25, 25);
}

.div-4 {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: div4;
    background-color: rgb(26, 25, 25);
}

.div-4 ul li {
    height: fit-content;
}