* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'div1 div2'
    ;
}

.container {
    border: 1px solid black;
    padding: 20px;
    margin-top: 30px;
}

.container-meio-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: monospace;
    font-weight: bold;
}

.titulo-pagina {
    margin-bottom: 15px;
    color: white;
}

.div-1 {
    grid-area: div1;
    background-color: black;
}

.div-2 {
    grid-area: div2;
    background-color: rgb(59, 57, 57);
}